@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", "Poppins", sans-serif;
}

@layer components {
  .nav-link {
    @apply sm:p-2 rounded-xl sm:hover:bg-stone-300 dark:sm:hover:bg-stone-700 cursor-pointer;
  }
}

.resume-btn {
  position: relative;
}

.resume-btn::before,
.resume-btn::after {
  --scale: 0;
  --tooltip-color: #333;
  --arrow-size: 15px;

  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translate(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 250ms transform;
  transform-origin: bottom center;
}

.resume-btn::before {
  --translate-y: calc(-120% - var(--arrow-size));
  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  width: max-content;
  width: 100%;
  background: var(--tooltip-color);
}

.resume-btn:hover::before,
.resume-btn:hover::after {
  --scale: 1;
}

.resume-btn::after {
  --translate-y: calc(-2 * var(--arrow-size));

  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}
