---
import Layout from "@layouts/layout.astro";
---

<Layout>
  <main class="container mt-16 sm:mt-32 p-6 text-center flex flex-col justify-between gap-12">
    <h1 class="text-8xl font-black dark:text-white">404</h1>
    <p class="text-2xl leading-8 text-neutral-500 dark:text-neutral-400">
      This page does not exist.
    </p>
  </main>
</Layout>