---
import "../styles/index.css"
import Navbar from "../components/Nav/Navbar"
import ThemeButton from "../components/Nav/ThemeButton";
import Footer from "../components/Footer/Footer";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Jason Xie</title>
	</head>
	<body class="relative dark:bg-slate-800">
		
		<Navbar>
			<ThemeButton client:only="react"/>
		</Navbar>
		<div class="min-h-screen flex flex-col justify-between">
			<main class="container mt-16 sm:mt-32 p-6 flex flex-col sm:flex-row justify-between">
				<section class="basis-1/2 p-6 order-2 sm:order-1">
					<article class="flex flex-col gap-10">
						<div>
							<h1 class="text-4xl font-bold dark:text-white">Hi there, <span class="block sm:inline">I'm Jason Xie.</span></h1>
						</div>
						<div>
							<p class="leading-9 text-2xl text-neutral-500 dark:text-neutral-400">I'm a web developer based in Toronto. I enjoy coding and learning new things. This website is my portfolio to showcase things I've worked on.</p>
						</div>
						<div class="flex flex-col gap-4">
							<a href="/about" class="flex gap-4 group">
								<img class="w-12 h-12" src="/assets/aboutme.png" alt="About me icon">
								<span class="text-xl self-center text-neutral-500 hover:text-neutral-800 hover:font-bold dark:text-neutral-400 dark:hover:text-neutral-100">Read more about me</span>
							</a>
							<a href="/projects" class="flex gap-4 group">
								<img class="w-12 h-12" src="/assets/projects.png" alt="Projects icon">
								<span class="text-xl self-center text-neutral-500 hover:text-neutral-800 hover:font-bold dark:text-neutral-400 dark:hover:text-neutral-100">Check out my projects</span>
							</a>
						</div>
					</article>
				</section>
				<section class="basis-1/2 p-6 order-1 sm:order-2">
					<img class="w-40 sm:w-72 rounded-xl sm:mx-auto drop-shadow-2xl" src="/assets/profile.jpg" alt="">
				</section>
			</main>
			<Footer />
		</div>
	</body>
</html>
