---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout description="The personal/portfolio site of Jason Xie.">
	<div class="flex flex-col sm:flex-row justify-between">
		<section class="basis-1/2 p-6 order-2 sm:order-1">
			<article class="flex flex-col gap-10">
				<div>
					<h1 class="text-4xl font-bold dark:text-white">Hi there, <span class="block sm:inline">I'm Jason Xie.</span></h1>
				</div>
				<div>
					<p class="leading-9 text-2xl text-neutral-500 dark:text-neutral-300">I'm a web developer based in Toronto. I enjoy coding and learning new things. This website is my portfolio to showcase things I've worked on.</p>
				</div>
				<div class="flex flex-col gap-4">
					<a href="/about" class="flex gap-4 group">
						<img height="48" width="48" class="w-12 h-12" src="/assets/icons/aboutme.png" alt="About me icon">
						<span class="text-xl self-center text-neutral-500 group-hover:text-neutral-800 group-hover:font-bold dark:text-neutral-400 dark:group-hover:text-neutral-100">Read more about me</span>
					</a>
					<a href="/projects" class="flex gap-4 group">
						<img height="48" width="48" class="w-12 h-12" src="/assets/icons/projects.png" alt="Projects icon">
						<span class="text-xl self-center text-neutral-500 group-hover:text-neutral-800 group-hover:font-bold dark:text-neutral-400 dark:group-hover:text-neutral-100">Check out my projects</span>
					</a>
				</div>
			</article>
		</section>
		<section class="basis-1/2 p-6 order-1 sm:order-2">
			<div class="w-40 sm:w-72 rounded-xl sm:mx-auto shadow-2xl overflow-hidden">
				<picture>
					<source width="288" height="328" srcset="/assets/images/profile.webp" type="image/webp" />
					<img width="288" height="328" srcset="/assets/images/profile.png" type="image/png" alt="Profile image of Jason Xie">
				</picture>
			</div>
		</section>
	</div>
</MainLayout>