---
import "../styles/index.css"
import Navbar from "../components/Navbar"
import ThemeButton from "../components/ThemeButton";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		
		<Navbar>
			<ThemeButton client:only="react"/>
		</Navbar>
		<h1>Astro</h1>
	</body>
</html>
