---
import "../styles/index.css"
import Navbar from "../components/Nav/Navbar"
import ThemeButton from "../components/Nav/ThemeButton";
import Footer from "../components/Footer/Footer";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Jason Xie</title>
	</head>
	<body class="relative">
		
		<Navbar>
			<ThemeButton client:only="react"/>
		</Navbar>
		<h1>Astro</h1>
		<Footer />

	</body>
</html>
