---
import MainLayout from "@layouts/MainLayout.astro";
import Project from "@components/Project/Project.jsx"
---

<MainLayout title="Projects" description="The projects page of Jason Xie">
  <div class="flex flex-col justify-between gap-8 sm:gap-12">
    <div class="text-center flex flex-col gap-4">
      <h1 class="text-5xl font-black dark:text-white">Projects</h1>
      <p class="text-2xl text-neutral-400 dark:text-neutral-500">View them all on my
        <a href="https://github.com/thejasonxie" target="_blank" class="hover:text-white dark:hover:text-black hover:bg-neutral-800 dark:hover:bg-neutral-100 underline decoration-solid decoration-4 underline-offset-4">GitHub</a>
        .
      </p>
    </div>
    <section class="grid sm:gap-x-0 gap-8 sm:grid-cols-2 lg:grid-cols-3 justify-items-center">
      <Project 
        name="This Portfolio Site" 
        description="My portfolio website to showcase things I've worked on."
        imgSrc="assets/projects/portfolio/portfolio.png"
        imgAlt="PrivaNote icon"
        repoLink="https://github.com/thejasonxie/portfolio"
        demoLink="/"
      />
      <Project 
        name="PrivaNote" 
        description="A note-taking app which prioritizes your security first."
        imgSrc="assets/projects/privanote/privanote.png"
        imgAlt="PrivaNote icon"
        repoLink="https://github.com/privanoteteam/privanote"
        demoLink="https://www.youtube.com/watch?v=yCYnAPSgYa0&ab_channel=PrivaNoteTeam"
      />
    </section>
  </div>
</MainLayout>